body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-title-bg-orange {
    background-color: #ff9800;
    padding: 5px;
}

.nav-bar {
  background-color: #0B5ED7;  
}

/* App.css */
:root, .navbar {
  --bs-navbar-brand-color: #ffffff !important; /* White for testing */
}
:root {
  --bs-border-color: #000000;
}


.list-group-item {
  border-radius: 0.5rem;
  /* margin-bottom: 0.5rem; */
  padding: 0.5rem;
  transition: background-color 0.2s ease;
}

.list-group-item:hover:not(.disabled) {
  background-color: #f8f9fa;
}

.fw-semibold {
  color: #212529;
}

.description {
  font-size: 0.9rem;
  color: #6c757d;
  line-height: 1.4;
}

.badge {
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem;
}

.badge svg {
  vertical-align: text-bottom;
}

 .call-top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030; /* Higher than video but lower than modals/popups */
  height: 56px; /* default height of Bootstrap Navbar */
}

.call-screen-content {
  padding-top: 56px; /* Matches fixed Navbar height */
}

.remote-video-container {
  width: 100%;
  height: calc(100vh - 56px);
  max-width: 100%;
  max-height: calc(100vh - 56px);
  overflow: hidden;
}
.remote-video-container .participant-preview {
  margin: 0;
  border: none;
}
.remote-video-container video {
  width: 100%;
  height: calc(100% - 32px);
  object-fit: contain;
}
.remote-video-container .video-off-overlay {
  width: 100%;
  height: calc(100% - 32px);
}
.remote-video-container .participant-overlay {
  height: 32px;
}
.local-pip-container {
  width: 200px;
  height: 150px;
  overflow: hidden;
}
.local-pip-container .participant-preview {
  margin: 0;
  border: none;
}
.local-pip-container video {
  width: 100%;
  height: calc(100% - 32px);
  object-fit: contain;
}
.local-pip-container .video-off-overlay {
  width: 100%;
  height: calc(100% - 32px);
}
.local-pip-container .participant-overlay {
  height: 32px;
}

.text-warn {
    color: #fd7e14 !important; /* Bootstrap's orange-500 */
}
